.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%; /* Set to 100% to make it flexible */
    max-width: 500px; /* Limits the width to 500px */
    height: auto; /* Let the height adjust based on content */
    text-align: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hero-section-content.changing {
    opacity: 0;
}

.hero-section-content p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px; /* Decrease space between text and button */
}

.hero-section-content button {
    border: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

/* Media Queries for Responsiveness */

/* For smaller screens, such as phones */
@media (max-width: 768px) {
    .hero-section {
        padding: 20px;
    }

    .hero-section-content {
        width: 100%;
        padding: 15px;
        max-width: 100%;
    }

    .hero-section-content p {
        font-size: 14px; /* Smaller text for smaller screens */
        margin-bottom: 20px; /* Adjust margin */
    }

    .hero-section-content button {
        font-size: 14px; /* Make button text smaller */
        bottom: 5px; /* Adjust button's position */
    }
}

/* For very small screens, such as extra small phones */
@media (max-width: 480px) {
    .hero-section-content p {
        font-size: 12px; /* Further reduce text size */
        margin-bottom: 15px; /* Further adjust margin */
    }

    .hero-section-content button {
        font-size: 12px; /* Smaller button font */
    }
}
